@import '../variables.scss';

.project-wrapper {
  display: inline-block;
  width: 75%;
  min-height: 100vh;
  padding: {
    top: 100px;
    left: 450px;
  }
  background-color: $ultralightgray;
}

.project-chart {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.project-member {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-chart-wrapper {
    width: 300px;
  }

  &-chart {
    width: 300px;
    height: 300px;
    padding: 50px 0;
  }
}
