@import '../variables.scss';

.project-wrapper {
  border: 1px solid black;
  display: inline-block;
  width: 65%;
  min-height: 100vh;
  padding-left: 400px;
}

.project-chart {
  width: 400px;
  height: 400px;
}

.project-member {
  &-wrapper {
    display: flex;
    width: 75%;
    border: 1px solid $black;
  }

  &-chart {
    width: 250px;
    height: 250px;
  }
}

li {
  width: 15%;
}
