@import '../variables.scss';
$HOME_ICON: '../src/home-icon.png';
@mixin backgroundImg($image) {
  margin: 100px auto 0;
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project-wrapper {
  display: inline-block;
  width: calc(100% - 400px);
  min-height: 100vh;
  padding: {
    top: 80px;
    left: 380px;
  }
  background-color: $ultralightgray;
}

.loading {
  padding-top: 80px;
  background-color: $ultralightgray;
}

.project-total {
  &-wrapper {
    width: 85%;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    background-color: $white;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }
}

.project {
  &-deleted-wrapper {
    width: 85%;
    padding: 20px;
    padding-bottom: 200px;
    text-align: center;
    background-color: $white;
  }

  &-deleted {
    margin-top: 200px;
    font-size: 30px;
  }

  &-main-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    @include backgroundImg($HOME_ICON);
    transition: all .5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
