@import '../variables.scss';
$barIcon: './src/bar-icon.png';

.project-chart {
  width: 400px;
  height: 520px;
  margin: 0 auto;
  text-align: center;

  > span {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
  }

  &-style {
    width: 50px;
    height: 50px;
    margin: 15px 0;
  }
}
