@import '../variables.scss';
$barIcon: './src/bar-icon.png';

.project-total {
  width: 85%;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  background-color: $white;

  &-header {
    display: flex;
    justify-content: space-between;
  }
}

.project-chart {
  width: 400px;
  height: 520px;
  margin: 0 auto;
  text-align: center;

  > span {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
  }

  &-style {
    width: 50px;
    height: 50px;
    margin: 15px 0;
  }
}
