.project-member {
  &-photo {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
