@import '../variables.scss';

.project-members {
  display: inline-block;
  width: 90px;
  flex-shrink: 0;
  font-size: 15px;
}

.project-list {
  &-wrapper {
    height: 80px;
    margin-bottom: 10px;
    padding: {
      top: 15px;
      left: 30px;
      bottom: 15px;
    }
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all .5s ease;

    &:hover{
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      opacity: 1;
      z-index: 1;
    }
  }

  &-title {
    font-size: 20px;
    color: $lightblue;
    transition: all .5s ease;
    vertical-align: middle;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-members {
    width: calc(100% - 650px);
  }
}

.project-list-member {
  &-wrapper {
    display: flex;
    overflow-x: auto;
  }
}
