@import '../variables.scss';

.main-wrapper {
  border: 1px solid $black;
  display: inline-block;
  width: 65%;
  min-height: 100vh;
  padding-left: 400px;
}

li {
  list-style-type: none;
}

.main-project {
  &-title {
    font-size: 20px;
    color: $black;
  }
}

.main-project-member {
  &-wrapper {
    display: flex;
    border: 1px solid $black;
    width: 60%;
  }
}

.progress {
  width: 100px;
  font-size: 20px;

  &-in {
    background: $lightblue;
  }

  &-not {
    background: $deepblue;
  }
}
