@import url('https://fonts.googleapis.com/css?family=Concert+One|Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
$cursive: 'Concert One', cursive;
$serif: 'Noto Serif', serif;
$noto: 'Noto Sans', sans-serif;
$yellow: #FA991C;
$white: #FFFFFF;
$ultralightgray: #DEE1E2;
$lightgray: #E5E3E3;
$gray: #EBEBEB;
$borderGray: #AFAFAF;
$lightblue: #46A5C0;
$cadetblue: #5F92A0;
$deepblue: #032539;
$black: #000000;
