@import '../variables.scss';
$loginBackground: './src/login-background.png';
$chartJS: './src/chartjs-logo.svg';

.login-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: $noto;
  // background-image: url($loginBackground);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: $deepblue;
}

.login-back {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.5;
  background-color: black;
  z-index: 0;
}

.login-box {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 25%;
  padding: 100px 0;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo {
  display: inline-block;
  width: 50%;
  height: 200px;
  background-image: url($chartJS);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, .login-button {
  font-size: 20px;
}

.login-button {
  width: 50%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 5px;
  background-color: $deepblue;
  color: $white;
  cursor: pointer;
}

.mobile-info {
  display: none;
}

@media only screen and (max-width: 500px) {
  .logo, h1, .login-button {
    display: none;
  }

  .mobile-info {
    display: block;
  }
}
