@import '../variables.scss';

.login-wrapper {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  text-align: left;
  font-family: $cursive;
}
.login-button {
  width: 350px;
  height: 100px;
  margin: 0 auto;
  background-image: url($loginImg);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}
