@import '../variables.scss';
$projectIcon: './src/projectIcon.png';

.nav-wrapper {
  border: 1px solid;
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 1000px;
  padding: 40px;
  font-family: $noto;
}

.nav-user {
  &-profile {
    padding: 50px 0;
    margin-bottom: 50px;
    text-align: center;
  }

  &-photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-name {
    font-size: 20px;
  }
}

.nav-contents {
  // border: 1px solid $black;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  line-height: 40px;
  border-radius: 30px;
  color: $black;
  transition: all .5s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $ultralightgray;
    font-size: 17px;
  }

  &-projects {
    display: inline-block;
    width: 20px;
    height: 20px;
    // background-image: url($projectIcon);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
  }

  &-text {
    // padding-left: 10px;
  }
}
