@import '../variables.scss';
$projectIcon: './src/projectIcon.png';

.nav-wrapper {
  border: 1px solid;
  padding: 40px;
  width: 300px;
  height: 1000px;
  font-family: $noto;
}

.nav-content {
  display: block;
  text-align: center;
  padding: 15px 5px;
  margin: {
    bottom: 15px;
  };
  font-weight: bolder;
  border-radius: 30px;
  transition: all .5s ease-in-out;
  color: black;

  &:hover {
    background-color: $ultralightgray;
  }
}

.nav {
  &-projects {
    background-image: url($projectIcon);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
  }
}
